/* Styles for the approver form */
.approver-form {
    /* margin: 20px; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.approver-form label {
    display: block;
    margin-bottom: 8px;
    /* font-weight: bold; */
}


.approver-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styles for the approver table */
.approver-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.approver-table th,
.approver-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.approver-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.approver-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.approver-table tr:hover {
    background-color: #f1f1f1;
}

.active-input {
    margin-right: .5rem;
}

.active-label {
    margin-top: .3rem;
    margin-bottom: 0;
}