<div *ngIf="isLoading" class="loader">
    <div class="spinner"></div>
</div>
<div class="body d-flex py-lg-2 py-md-2">
    <div class="container-xxl">
        <h3 class="h4 mb-0">Assign an Approver to Employee</h3>

        <form [formGroup]="approverForm" class="approver-form mt-2" (ngSubmit)="onSubmit()">
            <div class="row g-3 mb-3">
                <div class="col-md-3">
                    <label class="form-label">Employee</label>
                    <select formControlName="empName" class="form-control form-select"
                        (change)="onEmployeeSelect($event)">
                        <option *ngFor="let user of users" [value]="user.name">
                            {{ user.name }}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Employee Email</label>
                    <input class="form-control" type="email" formControlName="empEmail" />
                    <span
                        *ngIf="approverForm.controls['empEmail'].invalid && approverForm.controls['empEmail'].touched">
                        Enter a valid email
                    </span>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Employee Zuid</label>
                    <input class="form-control" type="text" formControlName="empZuid" />
                </div>
                </div>
                <div class="row g-3 mb-3">
                <div class="col-md-3">
                    <label class="form-label">Approver</label>
                    <select formControlName="appName" class="form-control form-select" (change)="onAppSelect()">
                        <option *ngFor="let user of users" [value]="user.name">
                            {{ user.name }}
                        </option>
                    </select>
                </div>
               

                <div class="col-md-3">
                    <label class="form-label">Approver Email</label>
                    <input type="email" class="form-control" formControlName="approverEmail" />
                    <span
                        *ngIf="approverForm.controls['approverEmail'].invalid && approverForm.controls['approverEmail'].touched">
                        Enter a valid email
                    </span>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Approver Zuid</label>
                    <input class="form-control" type="text" formControlName="appZuid" />
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div class="d-flex col-md-1">
                    <input type="checkbox" class="active-input" formControlName="isActive" />
                    <label class="form-label active-label">Active</label>
                </div>
                <button type="submit" [disabled]="approverForm.invalid" class="btn btn-primary">
                    {{ isEditmode ? 'Update Approver' : 'Add Approver' }}
                </button>
            </div>
        </form>

        <hr>

        <h3 class="h4 mb-2">Approver List</h3>
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body" *ngIf="approvers.length > 0">
                        <div class="table-responsive">
                            <table role="table" class="timesheet-table-responsive align-middle table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>Employee Name</th>
                                        <th>Approver Name</th>
                                        <th>Is Active</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let approver of approvers; let i = index">
                                        <td>{{ approver.empName }}</td>
                                        <td>{{ approver.appName }}</td>
                                        <td>
                                            <input type="checkbox" [checked]="approver.isActive" (change)="onActivechange(approver.id)"/>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <button type="button" class="btn btn-outline-secondary deleterow"
                                                    (click)="deleteApprover(approver.id)"><i
                                                        class="fa fa-trash fa-lg text-danger"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Show "No records found" message if timesheets array is empty -->
                    <div *ngIf="approvers.length === 0" class="text-center py-4">
                        <p class="text-muted">No records found.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>