<div *ngIf="isLoading" class="loader">
  <div class="spinner"></div>
</div>
<div class="body d-flex py-lg-2 py-md-2">
  <div class="container-xxl">
    <div class="row align-items-center justify-content-between">
      <h3 class="h4 mb-0">Time Log Entries (Client Projects + Internal tasks)</h3>
      <span class="text-muted">You can fetch your timesheet entries from ZOHO, complete the timesheet with internal
        tasks, and then submit
        it for approval</span>

    </div>
    <div class="row g-3 mb-3 mt-3 align-items-end">
      <div class="col-xl-3 col-lg-3 col-md-3 mb-2">
        <label class="form-label mb-1">Date</label>
        <input type="date" class="form-control" [(ngModel)]="from_date" [max]="maxDate" [min]="minDate"
          (change)="onDateChange($event)">
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 mb-2">
        <label class="form-label mb-1">Show Logs</label>
        <button type="submit" class="btn btn-primary w-100" (click)="getZohotimeSheet()">Search</button>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-6 mb-2 text-end">
        <button type="button" class="btn btn-dark btn-set-task w-sm-100 mx-sm-3" (click)="openModal()"
          [disabled]="AddlogFlag==0">
          <i class="fa-solid fa-circle-plus me-2 fs-6"></i>Add Time Log
        </button>
        <button type="button" class="btn btn-dark btn-set-task w-sm-100" (click)="submitTimesheet()"
          [disabled]="SaveSubmitFlag==0">
          <i class="fa-solid fa-circle-plus me-2 fs-6"></i>Save and Submit
        </button>
      </div>
    </div>
    <div class="atted-info d-flex mb-3 flex-wrap" *ngIf="filteredTimesheets.length > 0">
      <div class="info-item me-2" *ngIf="approver">
        <b>Approver Name - </b>
        <span>{{approver.appName}}</span>
      </div>
      <div class="info-item me-2">
        <b>Total Minutes (in minutes) - </b>
        <span>480</span>
      </div>
      <div class="info-item me-2">
        <b>Lagging Time (in minutes) - </b>
        <span>{{laggingTime}}</span>
      </div>
    </div>
    <div class="row clearfix g-3">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-body" *ngIf="filteredTimesheets.length > 0">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div class="d-flex align-items-center">
                Show
                <select class="form-select form-select-sm ms-2" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                &nbsp;entries
              </div>
            </div>
            <div class="table-responsive">
              <table role="table" class="timesheet-table-responsive align-middle table-hover dataTable">
                <thead>
                  <tr role="row" class="small text-muted text-uppercase">
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;">Project Name
                    </th>
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;">Task Name</th>
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;">Sub-Task Name
                    </th>
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;"
                      (click)="toggleSort(null)">From Date<span *ngIf="sortAscending">↑</span>
                      <span *ngIf="!sortAscending">↓</span>
                    </th>
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;">To Date</th>
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;">Total Minutes
                    </th>
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;">Bill Status
                    </th>
                    <th colspan="1" role="columnheader" title="Toggle SortBy" style="cursor: pointer;">Notes</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
                  <tr role="row" class="row-selectable" *ngFor="let timesheet of filteredTimesheets"
                    [ngClass]="{'highlight-row': (timesheet.id && timesheet.project == 'Quantra Internal')}">
                    <td hidden>{{timesheet.id}}</td>
                    <td>{{timesheet.project}}</td>
                    <td>{{ timesheet.task }}</td>
                    <td>{{ timesheet.subTask }}</td>
                    <td>
                      <span *ngIf="timesheet.fromDate && timesheet.fromDate.includes('T00:00:00')">
                        {{ timesheet.fromDate | date: 'MMM d, y' }}
                      </span>
                      <span *ngIf="timesheet.fromDate && !timesheet.fromDate.includes('T00:00:00')">
                        {{ timesheet.fromDate | date: 'MMM d, y h:mm a' }}
                      </span>
                    </td>
                    <td>
                      <span *ngIf="timesheet.toDate && timesheet.toDate.includes('T00:00:00')">
                        {{ timesheet.toDate | date: 'MMM d, y' }}
                      </span>
                      <span *ngIf="timesheet.toDate && !timesheet.toDate.includes('T00:00:00')">
                        {{ timesheet.toDate | date: 'MMM d, y h:mm a' }}
                      </span>
                    </td>
                    <td>{{ timesheet.totalMinutes }}</td>
                    <td>{{ timesheet.billStatus }}</td>
                    <td>{{ timesheet.notes }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between align-items-center py-3">
              <div>Showing {{ (currentPage - 1) * pageSize + 1 }} to {{ currentPage * pageSize }} of {{ totalRecords
                }} entries</div>
              <div class="dataTables_paginate paging_simple_numbers" id="timetracker-table_paginate">
                <ul class="pagination">
                  <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 1}">
                    <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
                  </li>
                  <li class="paginate_button page-item" *ngFor="let page of getPages()"
                    [ngClass]="{'active': page === currentPage}">
                    <button class="page-link" [ngClass]="{'text-white': page === currentPage}"
                      (click)="changePage(page)">{{ page }}</button>
                  </li>
                  <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage === getTotalPages()}">
                    <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Show "No records found" message if timesheets array is empty -->
          <div *ngIf="filteredTimesheets.length === 0" class="text-center py-4">
            <p class="text-muted">No records found.</p>
          </div>
          <div *ngIf="filteredTimesheets.length === 0 && isRejected" class="text-center py-4">
            <p class="text-muted">Timesheet is rejected by approver! Please check your mail before re-submitting.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="tickadd" tabindex="-1" aria-modal="true" role="dialog"
    [ngClass]="{'show model-bg': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title  fw-bold" id="leaveaddLabel"> Add Log</h5><button type="button" class="btn-close"
            data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="TaskCreateForm" (ngSubmit)="addTask()">
            <div class="row g-3 mb-3">
              <div class="col-md-6">
                <label for="cat" class="form-label">Project</label>
                <select id="category" formControlName="ProjectId" class="form-select"
                  (change)="onProjectSelect($event)">
                  <option value="" disabled selected>Select Project</option>
                  <option *ngFor="let project of projects" [value]="project.id">
                    {{ project.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="cat" class="form-label">Task</label>
                <select id="category" formControlName="ProjectTaskId" class="form-select" [compareWith]="compareTask">
                  <option value="null" disabled selected>Select  Task</option>
                  <option *ngFor="let task of tasks" [value]="task.id" >
                    {{ task.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="task-form">
              <div class="row g-3 mb-3">
                <div class="col-md-6">
                  <label for="depone" class="form-label">From Date & Time</label>
                  <div class="d-flex">
                    <input type="date" formControlName="FromDate" class="form-control me-2">
                    <input type="time" formControlName="FromTime" class="form-control" id="depone_1">
                  </div>
                </div>

                <!-- To Date & Time -->
                <div class="col-md-6">
                  <label for="deptwo" class="form-label">To Date & Time</label>
                  <div class="d-flex">
                    <input type="date" formControlName="ToDate" class="form-control me-2" id="deptwo"
                      [min]="TaskCreateForm.get('FromDate').value" max="{{to_date}}">
                    <input type="time" formControlName="ToTime" class="form-control" id="deptwo_1">
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Notes</label>
              <textarea type="text" class="form-control" formControlName="Notes" id="notes"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addTask()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>