<div class="sidebar px-4 py-4 py-md-5 me-0">
    <div class="d-flex flex-column h-100">
        <a class="mb-0 brand-icon" href="/"><span class="logo-icon"><i class="fa-solid fa-stopwatch fs-3"></i></span><span
                class="logo-text">Time-Tracker</span></a>
        <ul class="menu-list flex-grow-1 mt-3">
            <!-- <li><a class="m-link" href="/"><i class="fa-solid fa-home fs-5"></i> <span class="px-3">Dashboard</span></a></li>
            <li class="collapsed"><a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-report"
                    href="/employee"><i class="fa-solid fa-pie-chart fs-5"></i><span class="px-3">Reports</span><span
                        class="arrow fa-solid fa-angle-down ms-auto text-end fs-5"></span></a>
                <ul class="sub-menu collapse px-5" id="menu-report">
                    <li><a class="ms-link" href="/employee-logs">Employee Logs</a></li>
                </ul>
            </li> -->
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-order" href="/employee" aria-expanded="true">
                    <i class="fa-solid fa-tasks fs-5"></i> <span class="px-3">Timesheet</span> <span class="arrow fa-solid fa-angle-down ms-auto text-end fs-5"></span>
                </a>
                <ul class="sub-menu collapse ps-5" id="menu-order" [ngClass]="{'show': isActive('/timesheet') || isActive('/approveTimesheet')}">
                    <li><a class="ms-link" routerLink="/timesheet" routerLinkActive="active">My Time logs</a></li>
                    <li><a class="ms-link" routerLink="/approveTimesheet" routerLinkActive="active">Approve Timesheet</a></li>
                </ul>
            </li>
            <li class="collapsed" *ngIf="isAdmin">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#add-approver" aria-expanded="true">
                    <i class="fa-solid fa-tasks fs-5"></i> <span class="px-3">Approver</span> <span class="arrow fa-solid fa-angle-down ms-auto text-end fs-5"></span>
                </a>
                <ul class="sub-menu collapse px-5" id="add-approver" [ngClass]="{'show': isActive('/addApprover')}">
                    <li><a class="ms-link" routerLink="/addApprover" routerLinkActive="active">Add Approver</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>