<div *ngIf="isLoading" class="loader">
    <div class="spinner"></div>
</div>
<div class="body d-flex py-lg-2 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-between">
            <h3 class="h4 mb-0">Approve Employee Timesheet</h3>
        </div>
        <div class="row g-3 mb-3 mt-3 align-items-end">
            <div class="col-md-4">
                <label for="userFilter" class="form-label">Filter by User ID</label>
                <select [(ngModel)]="userFilter" class="form-control form-select" (change)="groupBy()">
                    <option *ngFor="let user of users" [value]="user.userId">
                        {{ user.name }}
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="fromDateFilter" class="form-label">Filter by From Date</label>
                <input type="date" class="form-control" id="fromDateFilter" [(ngModel)]="fromDateFilter"
                    (change)="groupBy()">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100" (click)="resetFilter()">Reset</button>
            </div>
        </div>
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3 mt-3">
                    <div class="card-body" *ngIf="timesheet.length > 0">

                        <div class="table-responsive">
                            <table class="timesheet-table-responsive align-middle table-hover dataTable">
                                <thead>
                                    <tr class="small text-muted text-uppercase">
                                        <th>Project Name</th>
                                        <th>Task Name</th>
                                        <th>Sub-Task Name</th>
                                        <th>Created By</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Total Minutes</th>
                                        <th>Bill Status</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let group of groupedTimesheet">
                                        <!-- Group Header with Status Dropdown -->
                                        <tr class="table-primary" (click)="toggleGroup(group.groupKey)"
                                            style="cursor: pointer;">
                                            <td colspan="9">
                                                <strong>{{ groupKeyLabel(group.groupKey, groupbyoption) }}</strong>
                                                <span class="float-end">
                                                    <i class="fa"
                                                        [ngClass]="{'fa-chevron-down': expandedGroups[group.groupKey], 'fa-chevron-right': !expandedGroups[group.groupKey]}"></i>
                                                </span>
                                                <div class="d-inline ms-3">
                                                    <select [(ngModel)]="group.status"
                                                        (change)="changeGroupStatus(group)"
                                                        (click)="$event.stopPropagation()" class="status">
                                                        <option *ngFor="let status of timesheetStatuses"
                                                            [value]="status.value">
                                                            {{ status.label }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Grouped Rows -->
                                        <tr *ngFor="let entry of group.entries"
                                            [hidden]="!expandedGroups[group.groupKey]"
                                            [ngClass]="{'highlight-row': entry.internalTaskId}">
                                            <td hidden>{{ entry.id }}</td>
                                            <td>{{ entry.project }}</td>
                                            <td>{{ entry.taskName }}</td>
                                            <td>{{ entry.subTaskName }}</td>
                                            <td>{{entry.empName}}</td>
                                            <td>
                                                <span *ngIf="entry.fromDate && entry.fromDate.includes('T00:00:00')">
                                                    {{ entry.fromDate | date: 'MMM d, y' }}
                                                </span>
                                                <span *ngIf="entry.fromDate && !entry.fromDate.includes('T00:00:00')">
                                                    {{ entry.fromDate | date: 'MMM d, y h:mm a' }}
                                                </span>
                                            </td>
                                            <td><span *ngIf="entry.toDate && entry.toDate.includes('T00:00:00')">
                                                    {{ entry.toDate | date: 'MMM d, y' }}
                                                </span>
                                                <span *ngIf="entry.toDate && !entry.toDate.includes('T00:00:00')">
                                                    {{ entry.toDate | date: 'MMM d, y h:mm a' }}
                                                </span>
                                            </td>
                                            <td>{{ entry.totalMinutes }}</td>
                                            <td>{{ entry.billStatus }}</td>
                                            <td>{{ entry.notes }}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div *ngIf="timesheet.length === 0" class="text-center py-4">
                        <p class="text-muted">No records found.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="tickadd" tabindex="-1" aria-modal="true" role="dialog"
        [ngClass]="{'show model-bg': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
        <div class="modal-dialog modal-dialog-centered modal modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="leaveaddLabel"> Add Reason</h5><button type="button"
                        class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Reason</label>
                        <textarea type="text" class="form-control" [(ngModel)]="rejectionReason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="changeGroupStatus(groupedTimesheet)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>